@model ArticleFormModel

@{
    ViewData["Title"] = "Edit Article";
}
<h2 class="text-center">@ViewData["Title"]</h2>

<hr/>

<partial name="_ArticleFormPartial" model="@Model"/>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}